.image-file {
    margin: 2vh;
    align-items: center;
    width: 100%;
    height: 60%;
    justify-content: center;
    justify-self: center;
    display: flex;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .form-group {
    position: relative;
  }
  
  .main-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // width: 80%;
    // height: 80%;
  }
  .center-window {
    background-color: var(--SBGblue);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: 50%;
    width: 100%;
    min-width: 280px;
    min-height: 580px;
    padding: 0 20px;
  }
  
  button.ghost {
    background-color: var(--PBGblue);
    border-color: #ffffff;
  }
  
  button {
    font-size: max(12px, min(2vw, 2vh));
    min-width: min(64px, 10vw);
    background-color: var(--PBlue);
    color: var(--PWhite);
    width: 20%;
    border-radius: 16px;
    border: none;
    min-height: 30px;
    font-size: max(12px, min(2vw, 2vh));
    min-width: min(64px, 30vw);
  }
  //sdfsdfsdfs
  form,
  .phase2,
  .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form-control {
    background-color: var(--TBGblue);
    border: none;
    width: 100%;
  }
  input:focus {
    background-color: var(--TBGblue);
    color: var(--PWhite);
    border: none;
  }
  
  // button {
  //   font-size: max(12px, min(2vw, 2vh));
  //   min-width: min(64px, 30vw);
  // }
  
  label {
    font-size: max(12px, min(2vw, 2vh));
    color: var(--PWhite);
  }
  
  mat-icon {
    color: var(--PWhite);
    opacity: 80%;
  }
  
  ion-input {
    border: none;
    background: var(--ion-low-opacity-input);
    box-shadow: 3px 3px 5px var(--ion-box-shadow-light);
    border-radius: 20px;
    height: 46px;
    --padding-start: 15px;
    --padding-end: 15px;

   
    .native-input.sc-ion-input-md {
      border: none !important;
      background: var(--ion-low-opacity-input) !important;
      box-shadow: 3px 3px 5px var(--ion-box-shadow-light) !important;
      border-radius: 20px !important;
      height: 46px !important;
      width: 80% !important;
      --padding-start: 15px !important;
      --padding-end: 15px !important;
    }
  }
  ion-row{
    width: 100%;
  }
  ion-icon {
    font-size: 24px;
  }
  ion-button {
    width: 100px;
    height: 40px;
    --margin-end: 0 !important;
    --box-shadow: 3px 3px 5px var(--ion-box-shadow-light);
    --ripple-color: transparent;
  }
  
.pass-input {
  --padding-end: 45px;
}

.eye-button {
  margin: 0;
  text-align: right;
  position: absolute;
  right: 0;
  --padding-end: 0;
  width: 50px;
  margin-right: 12px;
  --box-shadow: none;
  // --ripple-color: var(--ion-low-opacity-input);
}