<ion-content>
  <div class="main-panel">
    <div class="center-window">
      <div class="image-file">
        <img src="assets/images/forget_password.svg" />
      </div>
      <!-- Phase-1 -->
      <form
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        *ngIf="!isVerificationCode"
      >
         <ion-row class="ion-justify-content-center">
            <ion-col size="11" size-md="4">
          <ion-input
            type="email"
            name="email"
            placeholder="Enter Your Registered E-mail"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #email="ngModel"
            [(ngModel)]="model.email"

            [ngStyle]="{'border': f.submitted && email.invalid ? '1px solid red' : 'none' }"
          ></ion-input>
      </ion-col> 
      </ion-row>
      <ion-button
              [disabled]="!f.valid"
              shape="round"
              type="submit"
              color="primary"
              slot="end"
              >Next</ion-button
            >
      </form>

      <!-- Phase-2 -->
      <form *ngIf="isVerificationCode && !isNewPassword">
         <ion-row class="ion-justify-content-center">
            <ion-col size="11" size-md="4">
          <ion-input
            type="text"
            [(ngModel)]="verificationCode"
            name="code"
            placeholder="Enter Your Verification Code Here"
            required
          ></ion-input>
      </ion-col> 
      </ion-row>
        <ion-button
             (click)="checkVerificationCode()"
              shape="round"
              type="submit"
              color="primary"
              slot="end"
              >Next</ion-button
            >
      </form>

      <!--phase-3-->

      <form *ngIf="isNewPassword">
        <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-md="4">
          <ion-input
            [type]="hideEyeIcon ? 'password' : 'text'"
            placeholder="Enter New Password"
            class="pass-input"
            name="new_password"
            required
            minlength="8"
            #new_password="ngModel"
            [(ngModel)]="model.new_password"

            ><ion-button fill="clear" (click)="changeType()" class="eye-button"
              ><ion-icon
                [name]="hideEyeIcon ? 'eye' : 'eye-off'"
                slot="icon-only"
                size="medium"
              ></ion-icon></ion-button
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-md="4">
          <ion-input
            [type]="hideEyeIcon_2 ? 'password' : 'text'"
            placeholder="Re-Enter New Password"
            class="pass-input"
            name="re_password"
            required
            minlength="8"
            #re_password="ngModel"
            [(ngModel)]="model.re_password"

            ><ion-button fill="clear" (click)="changeType_2()" class="eye-button"
              ><ion-icon
                [name]="hideEyeIcon_2 ? 'eye' : 'eye-off'"
                slot="icon-only"
                size="medium"
              ></ion-icon></ion-button
          ></ion-input>
        </ion-col>
      </ion-row>

        <ion-button type="submit" (click)="changePassword()">
          Change
        </ion-button>
      </form>
      <!--End-->
    </div>
  </div>
</ion-content>
