<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="table">
      <ion-icon name="file-tray-full"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="reader"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>