/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --PWhite: #d3d9e0;
    --PWhitePlace: rgb(211 217 224 / 60%);
    --PRed: #be5656;
    --PBlue: #0176ff;
    --PYellow: #a2aa74;
    --POrange: #e2954e;
  
    // --PRed:  rgb(168, 56, 93);
    --PBGblue: #1d2737;
    --SBGblue: #2f3b4e;
    --SBBGblue: #23334c;
    --TBGblue: #364762;
    --QBGblue: #233148;
    --spinnerDeg: 0deg; 
  
  }

  ion-title {
    padding-left: 16px;
    height: 24px;
    font-size: max(16px, min(4vw, 4vh));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: inherit;
    text-align: left;
  }
  
  ion-toolbar{
    --min-height: 56px !important;
  }

  * {
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    height: 100%;
    // pointer cursor
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
  }
  
  .food-options-container .modal-wrapper {
    position: fixed;
    bottom: 0;
    --height: 75%;
   // box-shadow: 6px 6px 8px 6px #ccc;
    //clip-path: circle(70% at 50% 70%);
  }
  
  .details-container .modal-wrapper {
    position: absolute;
    top: 61px;
    --height: 50%;
    //box-shadow: 6px 6px 8px 6px #ccc;
  }
  .modal-wrapper.sc-ion-modal-md,
  .modal-shadow.sc-ion-modal-md {
    z-index: 5 !important;
  }
  
  *::-webkit-scrollbar {
    display: none !important;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: var(--ion-color-primary) !important;
  }
  
  //firefox mate baki che
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 500s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
    // opacity: 80%;
  }